

#navbar .logo {
    float: none;
    text-align: center;
  }
  
  #navbar ul,
  #navbar ul li {
    float: none;
    
  }
  
  #navbar ul li a {
    padding: 5px;
    border-bottom: #444 dotted 1px;
  }
  
  /*home*/
 
  #home-info {
    height: 600px;
  }
  #home-info .info-img {
    display: none;
  }

  #home-info .info-content {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }
  #features .box {
    float: none;
    text-align: center;
    width: 100%;
  }

/*about*/
#about-info .info-left {
  text-align: center;
  float: none;
  width: 100%;
}

#about-info .container .info-right {
  float: none;
  width: 100%;
}
#testimonials h2 {
  padding-top: 30px;

}


/*contact*/
#contact-info .container .box {
  float: none;
  text-align: center;
  width: 100% ;
  border-bottom: #444 dotted 1px;
}

/*footer*/
#main-footer p {
  text-size-adjust: 5px;
}



  


  